name: build

on: [push, pull_request]

jobs:

  build:
    name: Build for (${{ matrix.python-version }}) on ubuntu-latest
    runs-on: 'ubuntu-latest' 
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8']


    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}    

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Install library
        run: |
          pip install -e .[test]

      - name: Test
        run: |
          pytest